/* Reset default styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: 'Inter', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  gap: 40px;
  background-color: #3b4664;
  padding: 50px;
}

/* Result styles */
.result {
  width: 700px;
  height: 155px;
  background-color: #181f32;
  border-radius: 12px;
  padding: 10px;
}

.result input {
  height: 100%;
  width: 100%;
  background-color: #181f32;
  border: none;
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  text-align: right;
}

.result h1 {
  color: #fff;
  position: relative;
  font-size: 65px;
  /* Adjust positioning for center alignment */
  text-align: center;
  margin-top: 50px;
}

/* Number pad styles */
.number {
  width: 700px;
  height:530px;
  background-color: #252d44;
  border-radius: 12px;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 10px;
}

/* Button styles */
.button {
  background-color: #647299;
  color: #fff;
  font-weight: 600;
  font-size: 45px;
  padding: 15px;
  text-align: center;
  border-radius: 15px;
}

.reset {
  grid-column: span 2;
}

.equal {
  grid-column: span 2;
  background-color: #d13f30;
  font-weight: 800;
}

.del {
  background-color: #647299;
}

.q {
  background-color: #eae3db;
  color: #3b4664;
  font-weight: 800;
}
